@use '../../colors';

.registerTitle {
  text-align: center;
}

.btn.regButtons {
  background-color: darken(colors.$primary-color, 15%);
  border-color: darken(colors.$primary-color, 15%);
  margin: 10px;
}

.btn.regButtons:hover,
.btn.regButtons:focus,
.btn.regButtons:active {
  background-color: darken(colors.$primary-color, 25%);
  border-color: darken(colors.$primary-color, 25%);
}
