@use '../../colors';

.loginTitle {
  text-align: center;
}
.btn.loginButtons {
  background-color: darken(colors.$primary-color, 15%);
  border-color: darken(colors.$primary-color, 15%);
  margin: 10px;
}

.btn.loginButtons:hover,
.btn.loginButtons:focus,
.btn.loginButtons:active {
  background-color: darken(colors.$primary-color, 25%);
  border-color: darken(colors.$primary-color, 25%);
}
